﻿@model TasksManagementSystem.ViewModels.CommentViewModel


<div class="comment">
    <div class="comment-body">
        <div class="comment-header">
            <div class="posted-from">
                @Model.AuthorUsername
                <div>
                    <em>@Model.DateAdded</em>
                </div>
            </div>
            <div class="commentActions">
                <a href="@Url.Action("Edit","Comments", new { id = Model.Id })" title="Edit">
                    <i class="glyphicon glyphicon-edit"></i>
                    <span class="sr-only">Edit</span>
                </a>
                <a href="@Url.Action("Delete","Comments", new { id = Model.Id })" title="Delete">
                    <i class="glyphicon glyphicon-remove"></i>
                    <span class="sr-only">Delete</span>
                </a>
            </div>
        </div>
        <div class="comment-content">
            <p>
                <br />
                @Html.Raw(Model.Content)
            </p>
        </div>
    </div>
    <div class="comment-type">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
            @if (Model.ReminderDate != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.ReminderDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ReminderDate)
                </dd>
            }
        </dl>
    </div>
</div>
`<hr />


