﻿@model IEnumerable<TaskManagementSystem.Models.Comment>
@{
    ViewBag.Title = "CommentsList";
}

<h2>List of Comments</h2>
<hr />

@if (Model != null)
{
    <table class="dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model=>model.AuthorName)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model=>model.ReminderDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuthorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReminderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td style="width:70px;">
                        <a href="@Url.Action("TaskDetails","Tasks", new { id = item.TaskId })" title="View Task">
                            <i class="glyphicon glyphicon-info-sign"></i>
                            <span class="sr-only">ViewTask</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts{
    <script>
        $('.dataTable').dataTable();
    </script>
    }