﻿@model TaskManagementSystem.Models.Comment
@{
    ViewBag.Title = "Delete";
}
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Comment</legend>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>
    </dl>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </div>

}
<button type="submit" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("TaskDetails", "Tasks",  new { id = Model.TaskId }) + "'");">
    <i class="glyphicon glyphicon-arrow-left"></i> Back
</button>
