﻿@model TaskManagementSystem.Models.Comment
@{
    ViewBag.Title = "Edit";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Edit Comment</legend>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TaskId)
        <dl class="dl-horizontal">         
            <dt>
                @Html.DisplayNameFor(model => model.ReminderDate)
            </dt>
            <dd>
                @Html.TextBoxFor(model => model.ReminderDate, new { @class = "datepick", @readonly = "readonly", required = "required" })
                @Html.ValidationMessageFor(model => model.ReminderDate, null, new { @class = "help-inline" })
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd>
                @Html.DropDownList("Type", (IEnumerable<SelectListItem>)ViewBag.CommentType, new { @class = "formDDL" })
                @Html.ValidationMessageFor(model => model.Type, null, new { @class = "help-inline" })
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd>
                @Html.EditorFor(model => model.Content)
                @Html.ValidationMessageFor(model => model.Content, null, new { @class = "help-inline" })
            </dd>
        </dl>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>
}
<div>
    <button type="submit" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("TaskDetails", "Tasks",  new { id = Model.TaskId }) + "'");">
        <i class="glyphicon glyphicon-arrow-left"></i> Back
    </button>
</div>

@section Scripts{
    <script>
        $('.datepick').datepicker({
            buttonImage: "http://www.effinghamparkdistrict.org/graphics/calendar_icon.png",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            buttonText: "Choose date",
            showOn: 'both',
            dateFormat: 'yy-mm-dd'
        });
    </script>
}
