﻿@model TasksManagementSystem.ViewModels.TaskAddViewModel
@{
    ViewBag.Title = "Add";
}

<h2>Add task</h2>
<hr />

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

@using (Html.BeginForm("Add", "Tasks", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskTitle)
        </dt>
        <dd>
            @Html.EditorFor(model => model.TaskTitle)
            @Html.ValidationMessageFor(model => model.TaskTitle, "", new { @class = "text-danger" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RequiredByDate)
        </dt>
        <dd>
            @Html.TextBoxFor(model => model.RequiredByDate, new { @class = "datepick", @readonly = "readonly", required = "required" })
            @Html.ValidationMessageFor(model => model.RequiredByDate, "", new { @class = "text-danger" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StatusId)
        </dt>
        <dd>
            @Html.DropDownListFor(model => model.StatusId, Model.Statuses, new { @class = "formDDL" })
            @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>
        <dd>
            @Html.DropDownListFor(model => model.TypeId, Model.Types, new { @class = "formDDL" })
            @Html.ValidationMessageFor(model => model.TypeId, "", new { @class = "text-danger" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AssignedToValue)
        </dt>
        <dd>
            @Html.DropDownListFor(model => model.AssignedToValue, Model.AssignedToList, new { @class = "formDDL" })
            @Html.ValidationMessageFor(model => model.AssignedToValue, "", new { @class = "text-danger" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </dd>
    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
}
<br />
<div>
    <button type="submit" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("TasksList", "Tasks") + "'");">
        <i class="glyphicon glyphicon-arrow-left"></i> Back
    </button>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('.datepick').datepicker({
            buttonImage: "http://www.effinghamparkdistrict.org/graphics/calendar_icon.png",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            buttonText: "Choose date",
            showOn: 'both',
            dateFormat: 'yy-mm-dd'
        });
    </script>

}
