﻿@model IEnumerable<TasksManagementSystem.ViewModels.TaskHomeViewModel>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Tasks dashboard</h2>
<hr />


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>


@if (Model != null)
{
    <table class="dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TaskTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiredByDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssignedTo)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequiredByDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedTo)
                    </td>
                    <td style="width:70px;">
                        <a href="@Url.Action("TaskDetails", new { id = item.Id })" title="Details">
                            <i class="glyphicon glyphicon-info-sign"></i>
                            <span class="sr-only">Details</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@section Scripts{
    <script>
        var oTable = $('.dataTable').dataTable({
            "lengthChange": false
        });

        $("<br /><br /><br />").prependTo('div.dataTables_filter');
        $("<div class='nBreak padR'>&nbsp;&nbsp;From <input id='min' type='text' class='datepick' readonly = 'readonly' />&nbsp;To <input id='max' type='text' class='datepick' readonly = 'readonly' /></div>").prependTo('div.dataTables_filter');
        $("<input type='button' value = 'Clear dates' class='btn btn-primary' id='clear-dates' background-color = '#286090 '>").prependTo('div.dataTables_filter ');

        $("<label for='dashboard' style='float:left;color:#004d99;font-style: italic;font-size:large'>Tasks for period:</label>").prependTo('div.dataTables_filter');

        $('.datepick').datepicker({
            showOn: "both",
            buttonImage: "http://www.effinghamparkdistrict.org/graphics/calendar_icon.png",
            dateFormat: "yy-mm-dd",
        });

        $('#min').datepicker("option", "onSelect", function (dateString) {
            $("#max").datepicker('option', 'minDate', dateString),
            oTable.fnDraw();
        });


        $('#max').datepicker("option", "onSelect", function (dateString) {
            $("#min").datepicker('option', 'maxDate', dateString),
            oTable.fnDraw();
        });


        $.fn.dataTableExt.afnFiltering.push(
            function (oSettings, aData, iDataIndex) {
                var iMin = document.getElementById('min').value;
                var iMax = document.getElementById('max').value;

                if (iMin == null || iMin == "") {
                    return true;
                }
                if (iMax == null || iMax == "") {
                    return true;
                }

                var minDate = new Date(iMin);
                var maxDate = new Date(iMax);

                var date = new Date(aData[1]);

                if (minDate <= date && date <= maxDate) {
                    return true;
                }
                return false;
            }
        );

        var $dates = $('#min, #max');
        $('#clear-dates').on("click", function () {
            $("#min").datepicker('option', 'maxDate', null),
            $("#max").datepicker('option', 'minDate', null),
            $dates.datepicker('setDate', null);
            oTable.fnDraw();
        });

    </script>
}