﻿@model TasksManagementSystem.ViewModels.TaskDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<h2>Details</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.TaskTitle)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.TaskTitle)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.AuthorName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.AuthorName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.CreatedDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CreatedDate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.RequiredByDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.RequiredByDate)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.AssignedTo)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.AssignedTo)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Status)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Status)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Type)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Type)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
    @if (Model.NextActionDate != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.NextActionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NextActionDate)
        </dd>
    }  
</dl>

<hr />
<div id="Comments">
    <h4>Comments section</h4>
    <hr />
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_CommentPartial", comment)
    }
    <br />
</div>
@if (User.Identity.IsAuthenticated)
{
    using (Ajax.BeginForm("PostComment", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "Comments", OnFailure = "commentPostFailure" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("TaskId", Model.Id)
        <div class="dvComment">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>
                <dd>
                    @Html.TextAreaFor(model => model.Comment, new { placeholder = "Comment content", @class = "commentTextArea" })
                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                </dd>              
                    <dt>
                        @Html.DisplayNameFor(model => model.CommentReminderDate)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(model => model.CommentReminderDate, new { @class = "datepick", @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.CommentReminderDate, "", new { @class = "text-danger" })
                    </dd>            
                <dt>
                    @Html.DisplayNameFor(model => model.CommentTypeId)
                </dt>
                <dd>
                    @Html.DropDownListFor(model => model.CommentTypeId, Model.CommentTypes, new { @class = "formDDL" })
                    @Html.ValidationMessageFor(model => model.CommentTypeId, "", new { @class = "text-danger" })
                </dd>
            </dl>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit comment" class="btn btn-primary" />
            </div>
        </div>
    }
    <br />
    <button type="submit" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("TasksList", "Tasks") + "'");">
        <i class="glyphicon glyphicon-arrow-left"></i> Back
    </button>
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('.datepick').datepicker({
            buttonImage: "http://www.effinghamparkdistrict.org/graphics/calendar_icon.png",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true,
            buttonText: "Choose date",
            showOn: 'both',
            dateFormat: 'yy-mm-dd'
        });

        function commentPostFailure() {
            alert("Error");
        }

    </script>
}
