﻿@model IEnumerable<TasksManagementSystem.ViewModels.TaskHomeViewModel>
@{
    ViewBag.Title = "TasksList";
}

<h2>List of Tasks</h2>
<hr />

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>


@if (Model != null)
{
    <table class="dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TaskTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiredByDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AssignedTo)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaskTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequiredByDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AssignedTo)
                    </td>
                    <td style="width:70px;">
                        <a href="@Url.Action("TaskDetails", new { id = item.Id })" title="Details">
                            <i class="glyphicon glyphicon-info-sign"></i>
                            <span class="sr-only">Details</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@section Scripts{
    <script>
        var oTable = $('.dataTable').dataTable();
    </script>
}