﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.commentTextArea{
    width: 400px;
    height: 200px;
    border-radius:5px;
}

.comment{
    width:100%;
}

.comment-body{
     border-style: solid;
     border-radius:5px;
     border-color: #6666ff;
     width:70%;
     float:left;
}

.comment-type{
    width:30%;
    float:right;
}

.posted-from{
    float:left;
}

.commentActions{
    float:right;
}

.comment-header{
    height:40px;
    background-color:#d1e0e0;
}

.formDDL{
    width:178px;
    height:25px;
}

#Description, #Content{
   width: 178px;
   height: 120px;
}