﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center">Welcome</h1>
    <p class="lead">Here you can:</p>
    <ul>
        <li>
            Create and Manage your tasks
        </li>
        <li>
            Assign tasks to users
        </li>
        <li>
            Comment tasks with reminder date
        </li>
    </ul>
   
    <h1 style="text-align:center">Enjoy!</h1>
</div>

